<div *ngIf="GPA" class="col-md-4">

        <h2>My GPA</h2>

        <div class="col-md-offset-4 col-md-4">

            <table class="table">
                    <thead>
                        <tr>
                            <th>GPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ GPA }}</th>
                        </tr>
                    </tbody>
            </table>

        </div>

</div>
